.form-state {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}

.emoji {
  margin: 10px 50px;
  width: 4%;
}

.active {
  width: 7%;
  padding-bottom: 5px;
  border-bottom: 7px solid yellow;
}

.drink {
  width: 6%;
}

.drink.active {
  width: 9%;
}

.attraction {
  width: 5%;
}

.attraction.active {
  width: 8%;
}

@media only screen and (max-width: 600px) {
  .emoji {
    display: none;
    width: 30%;
  }

  .drink, .attraction {
    display: none;
  }

  .drink.active {
    width: 40%;
  }

  .attraction.active {
    width: 40%;
  }

  .active {
    display: block;
  }
}
