.form-state {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}

.emoji {
  margin: 10px 50px;
  width: 5%;
}

.drink {
  width: 8%;
}

.active {
  width: 9%;
  border-bottom: 10px solid yellow;
}

.drink.active {
  width: 12%;
}

@media only screen and (max-width: 600px) {
  .emoji {
    width: 12%;
  }

  .drink {
    width: 15%;
  }
}
