button {
  font-size: 40rem;
  padding: 8px 32px;
  font-weight: 700;
  transform: scale(1.4);
  border: none;
  border-radius: 50px;
  border: 3px solid black;
  outline: none;
}

button:focus {
  outline-style: dotted;
  outline-width: 0.5px;
}

form .emoji {
  margin: 50px;
  justify-content: center;
  transform: scale(1.6);
}

button:hover {
  cursor: pointer;
  color: black;
  border: 3px solid yellow;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

p {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 1.3rem;
}

p.box {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  padding: 2rem;
}

input {
  border: none;
  outline: none;
  font-weight: 500;
}

input[type="text"] {
  padding: 0.5rem;
  margin-top: 1rem;
  border-bottom: 4px dashed black;
  border-radius: 5px;
  background-color: yellow;
}

input::placeholder {
  text-align: center;
  color: #626567;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  button {
    transform: scale(1);
  }

  form .emoji.start {
    width: 10%;
    display: block;
  }
}
