button {
  font-size: 40rem;
  padding: 8px 32px;
  font-weight: 700;
  transform: scale(1.4);
  border: none;
  border-radius: 50px;
  border: 3px solid black;
  outline: none;
}

form .emoji {
  margin: 50px;
  justify-content: center;
  transform: scale(1.6);
}

button:hover {
  cursor: pointer;
  color: black;
  border: 3px solid yellow;
}

p {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  button {
    transform: scale(1);
  }

  form .emoji {
    display: none;
  }
}
