.footer {
  font-size: 1.2rem;
  font-weight: 500;
}

.footer a {
  color: black;
  text-decoration: none;
}

.footer a:hover {
  text-shadow: 2px 2px 0px yellow, -2px -2px 0px yellow, 2px -2px 0px yellow,
    -2px 2px 0px yellow;
  cursor: pointer;
  text-decoration: none;
}
