* {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 6fr 1fr;
  grid-template-areas:
    ". logo navlink ."
    ". header header ."
    ". main main ."
    "footer footer footer footer";
}

.header {
  place-self: center;
  grid-area: header;
}

.body-container {
  place-self: center;
  grid-area: main;
}

.footer {
  place-self: center;
  grid-area: footer;
}

.logo {
  place-self: start;
  grid-area: logo;
}

.navlink {
  place-self: end;
  grid-area: navlink;
}
