* {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.4rem;
  background-color: #ffc933;
}

.grid-container {
  display: grid;
  /* margin: 32px; */
  height: 100vh;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-areas:
    ". header header ."
    ". main main ."
    "footer footer footer footer";
}

.header {
  place-self: center;
  grid-area: header;
}

.body-container {
  /* place-self: center; */
  grid-area: main;
  border: 1px solid #000;
}
