* {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 4fr 1fr;
  grid-template-areas:
    ". logo navlink ."
    ". header header ."
    ". form-state form-state ."
    ". form form ."
    ". footer footer .";
}

.trip-icons {
  place-self: center;
  grid-area: form-state;
}

.trip {
  place-self: center;
  grid-area: form;
}

.header {
  place-self: center;
  grid-area: header;
}

.form {
  align-self: flex-end;
  justify-self: center;
  grid-area: form;
}

.form-state {
  place-self: end;
  grid-area: form-state;
}

.footer {
  place-self: center;
  grid-area: footer;
}

.logo {
  place-self: start;
  grid-area: logo;
}

.navlink {
  place-self: end;
  grid-area: navlink;
}