.navlink {
  display: flex;
  font-size: 1.3rem;
  font-weight: 900;
}

.navlink p {
  padding: 0.8rem;
}

.navlink p:hover {
  text-decoration: underline;
  text-decoration-color: yellow;
  cursor: pointer;
}
