.navlink {
  display: flex;
  font-size: 1.3rem;
  font-weight: 500;
}

.navlink p {
  padding: 0.8rem;
}

.navlink p:hover {
  text-shadow: 2px 2px 0px yellow, -2px -2px 0px yellow, 2px -2px 0px yellow,
    -2px 2px 0px yellow;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .navlink {
    font-weight: 500;
  }
}
