.navlink {
  display: flex;
  font-size: 1.3rem;
  font-weight: 500;
}

.navlink p {
  padding: 0.8rem;
}

.navlink p:hover {
  cursor: pointer;
}

.navlink p:hover span {
  background-color: yellow;
}

@media only screen and (max-width: 600px) {
  .navlink {
    font-weight: 500;
  }
}
